h1 {
    color: brown;
    font-size: 40px;
    font-style: italic;
    text-align: center;
}

.box {
    background-color: #800000;
    border: 2px solid #660000;
    padding: 30px;
    margin: 20px auto;
    width: 400px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  
}

label {
    font-weight: bold;
    color: white;
}

h1:hover {
    color: #8b3535;
    transition-duration: 0.3s;
    cursor: pointer;
    visibility:hidden;
    
}



input[type="text"],
input[type="email"],
input[type="number"] {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #a52a2a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #8b0000;
}
